@import '_variables';
@import '_base';

.wrapper {
    margin-top: 45px;
    .mainTitle {
        color: #b2b2b2;
        font-size: 60px;
        font-weight: bold;
    }

    .btnAddItem {
        margin-top: 70px;
        background: #7850be;
        border: none;
        color: #fff;
        line-height: 23px;
    }

    .wrapArticles {
        margin-top: 25px;
        &:last-child {
            clear: both;
        }
        .articleItem {
            width: 33.333%;
            float: left;
            padding: 0 8px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            .arThumnail {
                position: relative;
                cursor: pointer;
                span {
                    display: block;
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    transform: translateY(-50%);
                    text-align: center;
                }
                img.thumbnail {
                    width: 100%;
                    max-width: 100%;
                    height: 210px;
                    object-fit: cover;
                    object-position: center center;
                    border-radius: 5px;
                }
            }
            .arInfo {
                margin-top: 35px;
                span {
                    color: #8c8d8c;
                }
            }
            .arTitle {
                font-size: 28px;
                font-weight: 500;
                margin-top: 20px;
            }
            .arDescription {
                word-break: break-all;
                p {
                    color: #7b7b7b;
                }
            }
            .arAction {
                a {    
                    width: 55px;
                    height: 55px;
                    box-sizing: border-box;
                    margin-right: 15px;
                    display: inline-block;
                    text-align: center;
                    padding: 15px;
                    &:hover {
                        color: #7850be;
                        border-color: #7850be;
                    }
                }
                i { font-size: 25px; }
                .btnAddCollection {
                    width: 100%;
                    text-align: center;
                    line-height: 30px;
                }
            }
        }
        
    }
}

.wrapSearch {
    margin-top: 135px;
    .titleSearch {
        color: #404040;
        font-size: 47px;
        font-weight: lighter;
        margin-top: 60px;
    }
    .search {
        width: 100%;
        height: 70px;
        font-size: 35px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 15px;
        padding: 20px 30px;
        box-sizing: border-box;
        outline: none;
        margin-bottom: 100px;
    }
}
/* footer */
.wrapFooter {
    text-align: center;
    padding: 5px;
    margin-top: 60px;
    background: #f1f1f1;
}
/* end footer */
 /* Modal */

 /* The Modal (background) */
.modal {
    display: block; 
    position: fixed;  
    z-index: 1;  
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;  
    background-color: rgb(0,0,0);  
    background-color: rgba(0,0,0,0.4);  
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 17% auto;
        padding: 20px 35px;
        border: 1px solid #888;
        width: 100%;
        max-width: 760px;
        border-radius: 8px;
        box-sizing: border-box; 
        h2 {
            font-size: 30px;
        font-weight: lighter;
        }
    }
    .wrapInput {
        width: 100%;
        font-size: 35px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 15px;
        padding: 10px;
        box-sizing: border-box;
        outline: none;
        label {
            font-size: 15px;
            display: block;
            color: #999;
        }
        input, textarea, select {
            display: block;
            width: 100%;
            font-size: 25px;
            border: none;
            outline: none;
            color: #333;
            resize: vertical;
            background: none;
            option {
                background: none;
            }
        }
        textarea {
            min-height: 250px;
        }
        select {
            -moz-appearance:none; /* Firefox */
            -webkit-appearance:none; /* Safari and Chrome */
            appearance:none;
            background: url(../images/dropdown.svg) right 5px no-repeat;
        }
    }
    .btn {
        margin-top: 30px;
        background: #7850be;
        color: #fff;
        margin-bottom: 10px;
        border: none;
    }
}
